/* start banner   */
.services-banner {
  background-image: url(../images//about/Header.png);
}
.services-banner .nav_bar li a {
  color: #fff !important;
}
.services-banner .nav_bar.sticky-top li a {
  color: #000 !important;
}
.services-banner .nav_bar.sticky-top li.active a {
  color: #fff !important;
}

.services-banner .content {
  top: auto;
  bottom: 9rem;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
}
@media (max-width: 1100px) {
  .services-banner .content {
    bottom: 9rem;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .services-banner .content {
    bottom: 6rem;
  }
}
.services-banner .content .title-1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}
/* start services section */
.services {
  padding: 160px 0 50px;
}
@media (min-width: 1200px) {
  .services {
    padding: 100px 0 50px;
  }
}
.services .item-img {
  height: 400px;
}

.services .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .item-content h3 {
  font-size: 2rem;
  font-weight: 700rem;
  color: #1f1f45;
}
.services .item-content p {
  font-size: 17px;
}
